*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Project dir
bin
build
nbproject
.settings

#IDE Project files
.project
.classpath
build.xml
manifest.mf
dist

#Tex compile files
report/*.log
report/*.fdb_latexmk
report/*.aux
report/*.out
report/*.sty
